.home-container {
  text-align: center; /* Center align the content */
  padding: 50px 20px; /* Padding for spacing */
  color: #34495e; /* Dark color for text for readability */
}

.home-container h1 {
  margin-bottom: 20px; /* Spacing below the header */
}
