/* General styling for the navigation bar */
nav {
  background-color: #5f5f5f; /* Dark shade for the background */
  padding: 10px 20px; /* Padding around the navigation */
}

nav ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: flex; /* Align items in a row */
  justify-content: flex-start; /* Start align items */
}

nav ul li {
  margin-right: 20px; /* Space between menu items */
}

nav ul li a {
  font-family: Roboto-R;
  text-decoration: none; /* Remove underline from links */
  color: #2c2c2c; /* Light color for text */
  font-size: 1.1em; /* Slightly larger font size */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover {
  color: #b2e639; /* Lighter shade on hover */
}
