.title-bar {
  font-family: "Libre-R"; /* imported font: check ../fonts for info */
  position: sticky; /* stick to top of screen */
  top: 0px;
  z-index: 1001; /* ensure it is above everything else */
  font-size: 16px;
  padding-top: 4px;
  padding-left: 8px;
  height: 25px;
  background-color: #2c2c2c;
  color: #bc9e82;
  -webkit-app-region: drag;
}
